@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-gradient: linear-gradient(
    180deg,
    rgba(14, 165, 233, 1) 50%,
    rgba(0, 212, 255, 1) 100%
  );
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.background {
  background-image: url("https://images.unsplash.com/photo-1419833173245-f59e1b93f9ee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.custom-gradient {
  background: var(--blue-gradient);
  outline-style: inset;
}

.bg-gradient {
  background: var(--blue-gradient);
}
